@using ReportSpace;
@using ReportSpace.WebApplication;
@using ReportSpace.WebApplication.Extensions;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row text-center">
        <h1 style="font-family: 'Titillium Web', sans-serif;" class="text-center">Client Reports Portal</h1>
    </div>
    <div class="row text-center">
        <i class="fa fa-signal fa-2x"></i>  
        <i class="fa fa-long-arrow-right"></i>
        <i class="fa fa-tachometer fa-2x"></i>
        <i class="fa fa-long-arrow-right"></i>  
        <i class="fa fa-bar-chart-o fa-2x"></i>
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    if (User.Identity.HasRole("Client"))
    {
        string client_name = User.Identity.GetUserOrganization().Name;
        <div class="row" style="padding-left: 10px; padding-right: 10px;">
                <ul class="list-group">
                    <li class="list-group-item" style="font-size: large">
                        <i class="fa fa-bar-chart-o fa-lg pull-left"></i> 
                        @Html.ActionLink("Client Project Hours Report", "Report_ClientHours", new { ClientName = client_name })
                    </li>
                </ul>
        </div>
    }   
}
