@model List<ReportSpace.CustomerDashboard.Web.ViewModels.UserProfileViewModel>

<span>
    <a href="#" class="btn btn-rounded" id="add-user-btn" data-modal-url="@Url.Action("New", "UserGroup" )">
        <i class="icon-user"></i>
        &nbsp; Add User Group
    </a>
</span>


<div class="modal hide fade in" id="edit-user">
    <div id="edit-user-container"></div>
</div>

<table class="table table-hover table-striped table-condensed responsive" id="users-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            @Html.Partial("_UserGroup", user)
        }
    </tbody>
</table>

@section scripts {
    @Scripts.Render("~/Content/local/admin")
}